In [47]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.linear_model import LinearRegression
import sklearn
import statsmodels
import statsmodels.formula.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
import copy
import requests
import pprint
import xgboost
import scipy
from datetime import datetime
from scipy import stats
from xgboost import XGBClassifier
from urllib import parse
from bs4 import BeautifulSoup

# ì§€ìˆ˜ í˜•íƒœì˜ ì‹¤ìˆ˜ë¥¼ ì†Œìˆ˜ì  3ìë¦¬ê¹Œì§€ í‘œê¸°
pd.options.display.float_format = "{:.3f}".format

# ê³µìœ  í´ë” ê²½ë¡œ(ë‚˜ì¤‘ì— ê²½ë¡œ ë³€ê²½)
dirShare = "G:/.shortcut-targets-by-id/188U2ypi3eUvuInaixMTTbbFctprRo9e4/GYMì‚´ë¼ë¹”"

In [48]:
# ë¼ì´ë¸ŒëŸ¬ë¦¬ ë²„ì „ í™•ì¸
print("pandas í˜„ì¬ ë²„ì „ : " + pd.__version__)
print("scikit-learn í˜„ì¬ ë²„ì „ : " + sklearn.__version__)
print("scipy í˜„ì¬ ë²„ì „ : "+ scipy.__version__)
print("statsmodels í˜„ì¬ ë²„ì „ : " + statsmodels.__version__)
print("xgboost í˜„ì¬ ë²„ì „ : " + xgboost.__version__)

pandas í˜„ì¬ ë²„ì „ : 2.0.3
scikit-learn í˜„ì¬ ë²„ì „ : 1.3.0
scipy í˜„ì¬ ë²„ì „ : 1.11.1
statsmodels í˜„ì¬ ë²„ì „ : 0.14.0
xgboost í˜„ì¬ ë²„ì „ : 1.7.6

# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê³  ì „ì²˜ë¦¬

## ê¸°ë³¸ì „ì²˜ë¦¬

In [49]:
# def pre_data(datadir=None) : 
#     df = pd.read_csv(datadir)
#     df["ownerChange"].replace({"same":0},inplace=True)
#     df["ownerChange"].replace({"change":1},inplace=True)
#     df = pd.get_dummies(df, columns=["instkind"], prefix=["instkind"], prefix_sep="_", dtype=int)
#     df.dropna(axis=0, how="any", inplace=True)

In [50]:
# train.csv ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë¶ˆëŸ¬ì˜¤ê¸°
df = pd.read_csv(dirShare+"/data/train.csv")

# df ì •ë³´ í™•ì¸
# df.info()

# df ìƒìœ„ 10ê°œ ë¶ˆëŸ¬ì˜¤ê¸°
# df.head(10)

In [51]:
# X_t = pd.read_csv(dirShare+"/data/test.csv")

# X_t.info()
# X_t.head()

In [52]:
# X_t.shape[0] - X_t.count()

In [53]:
# ë°ì´í„° ê°œìˆ˜ í™•ì¸í•˜ê¸°
print("ë°ì´í„° ê°œìˆ˜ : ", df.shape[0])

# len(df)ë¥¼ ì¨ë„ ë™ì¼

ë°ì´í„° ê°œìˆ˜ :  301

In [54]:
# ìˆ«ì í˜•ì‹ì˜ ì»¬ëŸ¼ì˜ ê¸°ìˆ í†µê³„ê°’ì„ ì¶œë ¥
# df.describe()

In [55]:
# ì»¬ëŸ¼ë³„ null ê°’ í™•ì¸í•˜ê¸°
df.shape[0] - df.count()

inst_id                0
OC                     0
sido                   0
sgg                    0
openDate               0
bedCount               5
instkind               1
revenue1               8
salescost1             8
sga1                   8
salary1                8
noi1                   8
noe1                   8
interest1              8
ctax1                  8
profit1                8
liquidAsset1           8
quickAsset1            8
receivableS1           8
inventoryAsset1        8
nonCAsset1             8
tanAsset1              8
OnonCAsset1            8
receivableL1           8
debt1                  8
liquidLiabilities1     8
shortLoan1             8
NCLiabilities1         8
longLoan1              8
netAsset1              8
surplus1               8
revenue2               8
salescost2             8
sga2                   8
salary2                8
noi2                   8
noe2                   8
interest2              8
ctax2                  8
profit2                8
liquidAsset2           8
quickAsset2            8
receivableS2           8
inventoryAsset2        8
nonCAsset2             8
tanAsset2              8
OnonCAsset2            8
receivableL2           8
debt2                  8
liquidLiabilities2     8
shortLoan2             8
NCLiabilities2         8
longLoan2              8
netAsset2              8
surplus2               8
employee1             10
employee2             13
ownerChange           12
dtype: int64

In [56]:
# ì•„ì§ ìš´ì˜ ì¤‘ì¸ ë³‘ì›ì„ 1ë¡œ ë³€í™˜
df.replace({"open":1},inplace=True)
# íì—…í•œ ë³‘ì›ì„ 0ìœ¼ë¡œ ë³€í™˜
df.replace({" close":0}, inplace=True)
# unique() ë©”ì„œë“œë¥¼ í†µí•´ "OC" ì»¬ëŸ¼ì˜ ë°ì´í„°ë¥¼ í™•ì¸
# df["OC"].unique()

In [57]:
# ì˜¤ë„ˆ ë³€í™˜ ì—¬ë¶€
df["ownerChange"].replace({"same":0},inplace=True)
df["ownerChange"].replace({"change":1},inplace=True)
# df["ownerChange"].unique()

In [58]:
df["instkind"].unique()

array(['nursing_hospital', 'general_hospital', 'hospital',
       'traditional_clinic', 'clinic', 'traditional_hospital',
       'dental_clinic', nan], dtype=object)

In [59]:
# ë³‘ì›ì˜ ì¢…ë¥˜ë¥¼, get_dummiesë¥¼ ì´ìš©í•´ one-hot-encoding
df = pd.get_dummies(df, columns=["instkind"], prefix=["instkind"], prefix_sep="_", dtype=int)

In [60]:
df["openDate"] = df["openDate"].apply(lambda x : datetime.strptime(str(x), "%Y%m%d"))

df["openDate"].tail()

296   2005-02-11
297   2014-06-18
298   1983-07-05
299   2007-01-01
300   2001-10-17
Name: openDate, dtype: datetime64[ns]

In [61]:
# ì˜ì–´ë¡œ ë¼ ìˆëŠ” 'ì‹œë„'ë¥¼ í•œê¸€ë¡œ ë³€í™˜

df["sido"].replace(['choongnam', 'gyeongnam', 'gyeonggi', 'incheon', 'busan',
       'jeonnam', 'seoul', 'jeonbuk', 'choongbuk', 'ulsan', 'daejeon',
       'daegu', 'gyeongbuk', 'gangwon', 'gwangju', 'sejong'], 
       ["ì¶©ì²­ë‚¨ë„", "ê²½ìƒë‚¨ë„", "ê²½ê¸°ë„", "ì¸ì²œê´‘ì—­ì‹œ", 'ë¶€ì‚°ê´‘ì—­ì‹œ', 'ì „ë¼ë‚¨ë„', 'ì„œìš¸íŠ¹ë³„ì‹œ', 
        'ì „ë¼ë¶ë„', 'ì¶©ì²­ë¶ë„', 'ìš¸ì‚°ê´‘ì—­ì‹œ', 'ëŒ€ì „ê´‘ì—­ì‹œ', 'ëŒ€êµ¬ê´‘ì—­ì‹œ', "ê²½ìƒë¶ë„", "ê°•ì›ë„", "ê´‘ì£¼ê´‘ì—­ì‹œ", "ì„¸ì¢…íŠ¹ë³„ìì¹˜ì‹œ"],inplace=True)

df["sido"].unique()

array(['ì¶©ì²­ë‚¨ë„', 'ê²½ìƒë‚¨ë„', 'ê²½ê¸°ë„', 'ì¸ì²œê´‘ì—­ì‹œ', 'ë¶€ì‚°ê´‘ì—­ì‹œ', 'ì „ë¼ë‚¨ë„', 'ì„œìš¸íŠ¹ë³„ì‹œ', 'ì „ë¼ë¶ë„',
       'ì¶©ì²­ë¶ë„', 'ìš¸ì‚°ê´‘ì—­ì‹œ', 'ëŒ€ì „ê´‘ì—­ì‹œ', 'ëŒ€êµ¬ê´‘ì—­ì‹œ', 'ê²½ìƒë¶ë„', 'ê°•ì›ë„', 'ê´‘ì£¼ê´‘ì—­ì‹œ',
       'ì„¸ì¢…íŠ¹ë³„ìì¹˜ì‹œ'], dtype=object)

## ì‹¬í™”ì „ì²˜ë¦¬

In [62]:
# 2017ë…„ ì§€ì—­ë³„ ì¸êµ¬ìˆ˜ ë°ì´í„°
# https://kosis.kr/statHtml/statHtml.do?orgId=101&tblId=DT_1B040A3
pop = pd.read_csv(dirShare+"/data/í–‰ì •êµ¬ì—­_ì‹œêµ°êµ¬_ë³„__ì„±ë³„_ì¸êµ¬ìˆ˜_20230718231833.csv", header=1, encoding="cp949")
pop.info()
pop.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   í–‰ì •êµ¬ì—­(ì‹œêµ°êµ¬)ë³„  18 non-null     object
 1   ì´ì¸êµ¬ìˆ˜ (ëª…)    18 non-null     int64
 2   ë‚¨ìì¸êµ¬ìˆ˜ (ëª…)   18 non-null     int64
 3   ì—¬ìì¸êµ¬ìˆ˜ (ëª…)   18 non-null     int64
dtypes: int64(3), object(1)
memory usage: 708.0+ bytes

  í–‰ì •êµ¬ì—­(ì‹œêµ°êµ¬)ë³„  ì´ì¸êµ¬ìˆ˜ (ëª…)  ë‚¨ìì¸êµ¬ìˆ˜ (ëª…)  ì—¬ìì¸êµ¬ìˆ˜ (ëª…)
0         ì „êµ­  51778544   25855919   25922625
1      ì„œìš¸íŠ¹ë³„ì‹œ   9857426    4830206    5027220
2      ë¶€ì‚°ê´‘ì—­ì‹œ   3470653    1709508    1761145
3      ëŒ€êµ¬ê´‘ì—­ì‹œ   2475231    1227814    1247417
4      ì¸ì²œê´‘ì—­ì‹œ   2948542    1479597    1468945

In [63]:
# dfì™€ pop(ì¸êµ¬ìˆ˜) join
df_new = pd.merge(df, pop, how="inner", left_on="sido", right_on="í–‰ì •êµ¬ì—­(ì‹œêµ°êµ¬)ë³„")
df_new.head()

,inst_id,OC,sido,sgg,openDate,bedCount,revenue1,salescost1,sga1,salary1,...,instkind_dental_clinic,instkind_general_hospital,instkind_hospital,instkind_nursing_hospital,instkind_traditional_clinic,instkind_traditional_hospital,í–‰ì •êµ¬ì—­(ì‹œêµ°êµ¬)ë³„,ì´ì¸êµ¬ìˆ˜ (ëª…),ë‚¨ìì¸êµ¬ìˆ˜ (ëª…),ì—¬ìì¸êµ¬ìˆ˜ (ëª…)
0,1,1,ì¶©ì²­ë‚¨ë„,73,2007-12-28,175.000,4217530010.000,0.000,3961134739.000,2033835290.000,...,0,0,0,1,0,0,ì¶©ì²­ë‚¨ë„,2116770,1076270,1040500
1,59,1,ì¶©ì²­ë‚¨ë„,94,2014-03-18,258.000,8546126935.000,0.000,6737509250.000,3830658980.000,...,0,0,0,1,0,0,ì¶©ì²­ë‚¨ë„,2116770,1076270,1040500
2,101,1,ì¶©ì²­ë‚¨ë„,37,1982-05-04,341.000,52626386641.000,19326736791.000,32214235859.000,20975361934.000,...,0,1,0,0,0,0,ì¶©ì²­ë‚¨ë„,2116770,1076270,1040500
3,134,1,ì¶©ì²­ë‚¨ë„,78,1988-06-03,64.000,4402779495.000,719458530.000,4131517858.000,2436024468.000,...,0,0,1,0,0,0,ì¶©ì²­ë‚¨ë„,2116770,1076270,1040500
4,150,1,ì¶©ì²­ë‚¨ë„,94,2013-08-26,186.000,5237992090.000,0.000,5060655115.000,2623322811.000,...,0,0,0,1,0,0,ì¶©ì²­ë‚¨ë„,2116770,1076270,1040500

In [64]:
# ì‹œë„ë¥¼ one-hot-encoding
df_new = pd.get_dummies(df_new, columns=["sido"], prefix=["sido"], prefix_sep="_", dtype=int)
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 83 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   inst_id                        301 non-null    int64
 1   OC                             301 non-null    int64
 2   sgg                            301 non-null    int64
 3   openDate                       301 non-null    datetime64[ns]
 4   bedCount                       296 non-null    float64
 5   revenue1                       293 non-null    float64
 6   salescost1                     293 non-null    float64
 7   sga1                           293 non-null    float64
 8   salary1                        293 non-null    float64
 9   noi1                           293 non-null    float64
 10  noe1                           293 non-null    float64
 11  interest1                      293 non-null    float64
 12  ctax1                          293 non-null    float64
 13  profit1                        293 non-null    float64
 14  liquidAsset1                   293 non-null    float64
 15  quickAsset1                    293 non-null    float64
 16  receivableS1                   293 non-null    float64
 17  inventoryAsset1                293 non-null    float64
 18  nonCAsset1                     293 non-null    float64
 19  tanAsset1                      293 non-null    float64
 20  OnonCAsset1                    293 non-null    float64
 21  receivableL1                   293 non-null    float64
 22  debt1                          293 non-null    float64
 23  liquidLiabilities1             293 non-null    float64
 24  shortLoan1                     293 non-null    float64
 25  NCLiabilities1                 293 non-null    float64
 26  longLoan1                      293 non-null    float64
 27  netAsset1                      293 non-null    float64
 28  surplus1                       293 non-null    float64
 29  revenue2                       293 non-null    float64
 30  salescost2                     293 non-null    float64
 31  sga2                           293 non-null    float64
 32  salary2                        293 non-null    float64
 33  noi2                           293 non-null    float64
 34  noe2                           293 non-null    float64
 35  interest2                      293 non-null    float64
 36  ctax2                          293 non-null    float64
 37  profit2                        293 non-null    float64
 38  liquidAsset2                   293 non-null    float64
 39  quickAsset2                    293 non-null    float64
 40  receivableS2                   293 non-null    float64
 41  inventoryAsset2                293 non-null    float64
 42  nonCAsset2                     293 non-null    float64
 43  tanAsset2                      293 non-null    float64
 44  OnonCAsset2                    293 non-null    float64
 45  receivableL2                   293 non-null    float64
 46  debt2                          293 non-null    float64
 47  liquidLiabilities2             293 non-null    float64
 48  shortLoan2                     293 non-null    float64
 49  NCLiabilities2                 293 non-null    float64
 50  longLoan2                      293 non-null    float64
 51  netAsset2                      293 non-null    float64
 52  surplus2                       293 non-null    float64
 53  employee1                      291 non-null    float64
 54  employee2                      288 non-null    float64
 55  ownerChange                    289 non-null    float64
 56  instkind_clinic                301 non-null    int32
 57  instkind_dental_clinic         301 non-null    int32
 58  instkind_general_hospital      301 non-null    int32
 59  instkind_hospital              301 non-null    int32
 60  instkind_nursing_hospital      301 non-null    int32
 61  instkind_traditional_clinic    301 non-null    int32
 62  instkind_traditional_hospital  301 non-null    int32
 63  í–‰ì •êµ¬ì—­(ì‹œêµ°êµ¬)ë³„                     301 non-null    object
 64  ì´ì¸êµ¬ìˆ˜ (ëª…)                       301 non-null    int64
 65  ë‚¨ìì¸êµ¬ìˆ˜ (ëª…)                      301 non-null    int64
 66  ì—¬ìì¸êµ¬ìˆ˜ (ëª…)                      301 non-null    int64
 67  sido_ê°•ì›ë„                       301 non-null    int32
 68  sido_ê²½ê¸°ë„                       301 non-null    int32
 69  sido_ê²½ìƒë‚¨ë„                      301 non-null    int32
 70  sido_ê²½ìƒë¶ë„                      301 non-null    int32
 71  sido_ê´‘ì£¼ê´‘ì—­ì‹œ                     301 non-null    int32
 72  sido_ëŒ€êµ¬ê´‘ì—­ì‹œ                     301 non-null    int32
 73  sido_ëŒ€ì „ê´‘ì—­ì‹œ                     301 non-null    int32
 74  sido_ë¶€ì‚°ê´‘ì—­ì‹œ                     301 non-null    int32
 75  sido_ì„œìš¸íŠ¹ë³„ì‹œ                     301 non-null    int32
 76  sido_ì„¸ì¢…íŠ¹ë³„ìì¹˜ì‹œ                   301 non-null    int32
 77  sido_ìš¸ì‚°ê´‘ì—­ì‹œ                     301 non-null    int32
 78  sido_ì¸ì²œê´‘ì—­ì‹œ                     301 non-null    int32
 79  sido_ì „ë¼ë‚¨ë„                      301 non-null    int32
 80  sido_ì „ë¼ë¶ë„                      301 non-null    int32
 81  sido_ì¶©ì²­ë‚¨ë„                      301 non-null    int32
 82  sido_ì¶©ì²­ë¶ë„                      301 non-null    int32
dtypes: datetime64[ns](1), float64(52), int32(23), int64(6), object(1)
memory usage: 168.3+ KB

In [ ]:
# ë³‘ì› êµ°ì§‘ì„ í†µí•´ ê²°ì¸¡ì¹˜ ì˜ˆì¸¡ì„ í•˜ê³ ì í•¨
df

In [ ]:
# ë³‘ì› ì •ë³´ì— NULLì´ ì¡´ì¬í•˜ëŠ” ë¶€ë¶„ì„ ë‹¤ë¥¸ ê°’ìœ¼ë¡œ ëŒ€ì²´í•  ìˆ˜ ì—†ìŒ
# ë³‘ì›ì˜ ë§¤ì¶œ, ë¹„ìš©, ì´ìµ, ì§ì› ìˆ˜ì™€ ê°™ì€ ê°’ì„ ë‹¤ë¥¸ ë³‘ì›ì˜ í‰ê· ì´ë‚˜ ì¤‘ì•™ê°’ìœ¼ë¡œ ëŒ€ì²´í•˜ë©´ ì•ˆ ë¨
# íšŒê·€ëŒ€ì²´ë²•ì„ í•˜ê¸°ì—ëŠ” ì¢…ì† ë³€ìˆ˜ë¡œ ë‘˜ ë§Œí•œ ì†ì„±ê°’ì´ ì¡´ì¬ X
# nullì´ í¬í•¨ëœ ë°ì´í„°ê°€ ì „ì²´ ë°ì´í„°ì˜ 10% ë¯¸ë§Œì´ë¯€ë¡œ 

df.dropna(axis=0, how="any", inplace=True)
df.shape[0]

In [ ]:
# ë°ì´í„° ê°’ì´ 0ìœ¼ë¡œë§Œ ë¼ ìˆëŠ” ì»¬ëŸ¼ ì‚­ì œ
df.drop(columns=["receivableL1", "receivableL2"], axis=1, inplace=True)
# ì‹œêµ°êµ¬ ì½”ë“œ ì‚­ì œ
df.drop(columns="sgg", axis=1, inplace=True)
# ë³‘ì› idëŠ” ë¶„ì„ì— ìˆì–´ì„œ ì˜ë¯¸ê°€ ì—†ëŠ” ë°ì´í„°ì´ë¯€ë¡œ ì‚­ì œ
df.drop(columns="inst_id",inplace=True)
# ë°ì´í„° í”„ë ˆì„ì—ì„œ drop ëëŠ”ì§€ í™•ì¸
# df.columns

In [ ]:
df_drop_obj = copy.deepcopy(df)  # ê¹Šì€ ë³µì‚¬
df_dr_obj_cols = df_drop_obj.columns.to_list()
# df_dr_obj_cols

ğŸ«¡ì‹œë„ì½”ë“œì™€ ì‹œêµ°êµ¬ ì½”ë“œë¥¼ í•™ìŠµì‹œí‚¬ ìˆ˜ë„ ìˆìŠµë‹ˆë‹¤.  
One-Hot Encodingì„ ì´ìš©í•˜ë©´ ë˜ì£ .  
í•˜ì§€ë§Œ ì¬ë¬´ ì •ë³´ì™€ ê´€ë ¨ëœ í˜„ ë°ì´í„°ì—ì„œëŠ” ì˜ë¯¸ê°€ ì—†ì„ ê²ƒ ê°™ìŠµë‹ˆë‹¤.  
ê·¸ ì´ìœ ëŠ” ì§€ì—­ì˜ ì´ë¦„ ìì²´ê°€, ë³€ìˆ˜ë¡œì„œ í° ì˜í–¥ë ¥ì„ ê°€ì§€ì§€ëŠ” ì•Šì„ ê²ƒ ê°™ê±°ë“ ìš”!!  
ì§€ì—­ì´ ë³€ìˆ˜ë¡œ ì˜í–¥ì„ ê°€ì§€ë ¤ë©´, ê·¸ ì§€ì—­ì˜ ë©´ì , ì¸êµ¬ë°€ë„, í‰ê·  ì†Œë“ğŸ’¸ ë“±ìœ¼ë¡œ ëŒ€ì²´í•´ì•¼ í•  ê²ƒ ê°™ìŠµë‹ˆë‹¤.  
ì¼ë‹¨ ì§€ê¸ˆì€ ì¬ë¬´ ì •ë³´ì— ëŒ€í•œ ê²ƒìœ¼ë¡œë§Œ ì˜ˆì¸¡ì„ í•´ë³´ì£ !

In [ ]:
df_drop_obj2 = copy.deepcopy(df_drop_obj)

# ì»¬ëŸ¼ ë°ì´í„° íƒ€ì…ì´ 'object'ì¸ ì»¬ëŸ¼ ì‚­ì œ
for i in range(len(df_dr_obj_cols)) : 
    if df_drop_obj.iloc[:,i].dtype == "object" : 
        df_drop_obj2.drop(columns=df_dr_obj_cols[i], inplace=True)

df_drop_obj = df_drop_obj2
# df_drop_obj.info()

In [ ]:
# ê°œì—…í•œ ë‚ ì§œëŠ” ë³€ìˆ˜ë¡œì„œ ì˜ë¯¸ê°€ ì—†ìŒ. ëª¨ë¸ì€ ë‚ ì§œë¥¼ ì¸ì‹í•˜ì§€ ëª»í•˜ê¸° ë•Œë¬¸ì—
# ê°œì—… ë‚ ì§œì™€ íì—… ë‚ ì§œì˜ ì°¨ì´ë¡œ ë³€ìˆ˜ë¥¼ ì¡°ì •í•  í•„ìš”ê°€ ìˆìŒ

date_of_2018 = "2018-01-01"

# ë¬¸ì íƒ€ì…ì„ date íƒ€ì…ìœ¼ë¡œ
date_of_2018 = datetime.strptime(date_of_2018, "%Y-%m-%d")

df_drop_obj["openDate"] = df_drop_obj["openDate"].apply(lambda x : datetime.strptime(str(x), "%Y%m%d"))

# ë‚ ì§œ ì°¨ì´ë¥¼ ìƒˆë¡œìš´ ì»¬ëŸ¼ìœ¼ë¡œ ìƒì„±, ë°ì´í„° í”„ë ˆì„ ì¤‘ê°„ì— ì‚½ì…
df_drop_obj.insert(1, "dif_date", date_of_2018-df_drop_obj["openDate"])
df_drop_obj["dif_date"] = df_drop_obj["dif_date"].dt.days

In [ ]:
# ê°œì—… ë‚ ì§œë¥¼ dropí•œ ìƒˆë¡œìš´ ë°ì´í„°í”„ë ˆì„ ìƒì„±
df_hos = df_drop_obj.drop(columns="openDate")

## SVDë¥¼ ìœ„í•œ ì‘ì—…

ë°ì´í„°ì˜ ì–‘ì€ ë…ë¦½ë³€ìˆ˜ ìˆ˜ì˜ 3ë°° ì´ìƒì€ ë¼ì•¼ í•¨.
ë…ë¦½ë³€ìˆ˜ë¡œ ì‘ìš©í•˜ëŠ” ì»¬ëŸ¼ ìˆ˜ê°€ 57ê°œì´ë¯€ë¡œ ë‹¤ì¤‘ ê³µì„ ì„±ê³¼ ê³¼ì í•©, ì°¨ì›ì˜ ì €ì£¼ì˜ ì˜í–¥ì´ ì˜ˆìƒë˜ë¯€ë¡œ
ì°¨ì› ì¶•ì†Œ í•„ìš”

In [ ]:
# ë…ë¦½ë³€ìˆ˜ ì»¬ëŸ¼ ìƒ¤í”¼ë¡œ ìœŒí¬ ê²€ì •ìœ¼ë¡œ ì •ê·œì„± í™•ì¸
# H0 : ë³€ìˆ˜ëŠ” ì •ê·œì„±ì„ ë”°ë¥¸ë‹¤.
# H1 : ë³€ìˆ˜ëŠ” ì •ê·œì„±ì„ ë”°ë¥´ì§€ ì•ŠëŠ”ë‹¤.

cnt = 0

for i in range(df_hos.shape[1]) : 
    cnt += 1
    shapiro_tt = stats.shapiro(df_hos.iloc[:,i])
    print(cnt)
    if shapiro_tt[1] > 0.05 : 
        print("ì»¬ëŸ¼ëª… ",df_hos.columns[i],"ëŠ”(ì€) ê·€ë¬´ê°€ì„¤ì„ ì±„íƒ, ì •ê·œì„±ì„ ë”°ë¥¸ë‹¤ê³  ê°€ì •í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.")
    else : 
        print("ì»¬ëŸ¼ëª… ",df_hos.columns[i],"ëŠ”(ì€) ê·€ë¬´ê°€ì„¤ì„ ê¸°ê°, ì •ê·œì„±ì„ ë”°ë¥¸ë‹¤ê³  ê°€ì •í•  ìˆ˜ ì—†ìŠµë‹ˆë‹¤.")
    print("-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-")

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(10,5))    # ê·¸ë˜í”„ ì‚¬ì´ì¦ˆ ì§€ì •
stats.probplot(df_hos.iloc[:,7], dist=stats.norm, plot=plt) #Sampleì€ ì–´ëŠ ì •ë„ ì–´ê¸‹ë‚¬ëŠ”ì§€ ë¹„êµí•  ë¶„í¬,
                                                  #distëŠ” ê¸°ì¤€ì´ ë˜ëŠ” ë¶„í¬, ì •ê·œ ë¶„í¬ê°€ ì•„ë‹ˆì–´ë„ ëœë‹¤.
                                                  #plotì€ ì£¼ë¡œ matplotlib.plt ê°ì²´ ì‚¬ìš©
plt.show()

In [ ]:
scaler = MinMaxScaler()

scalerX = scaler.fit(df_hos.iloc[:,1:])

X_mmsc = scaler.transform(df_hos.iloc[:,1:])

# X_mmsc

In [ ]:
import numpy as np
from sklearn.decomposition import TruncatedSVD

# ì°¨ì› ì¶•ì†Œë¥¼ ìœ„í•œ SVD ìˆ˜í–‰
svd = TruncatedSVD(n_components=6)
make_svd = svd.fit(X_mmsc)
X_train_red = svd.transform(X_mmsc)

## statsmodelsë¥¼ ì‚¬ìš©í•œ vif ê³„ì‚°

In [ ]:
# ë³‘ì› ê°œ/íì—… ì •ë³´ì˜ ë‹¤ì¤‘ íšŒê·€ ë¶„ì„ê³¼ ê²€ì • í†µê³„ëŸ‰ í™•ì¸
Models1 = sm.ols("OC ~ " + "+".join(df_hos.columns[1:]), data=df_hos)
result1 = Models1.fit()
print(result1.summary())

In [ ]:
# ë…ë¦½ë³€ìˆ˜ Xì™€ ì¢…ì†ë³€ìˆ˜ yë¡œ ë¶„ë¦¬
X = df_hos.iloc[:,1:]
y = df_hos.iloc[:,0]

In [ ]:
# ë…ë¦½ë³€ìˆ˜ë“¤ê°„ ë‹¤ì¤‘ ê³µì„ ì„± í™•ì¸, vif ì§€ìˆ˜ 10 ì´ìƒì´ë©´ ë³€ìˆ˜ ì œê±° ê³ ë ¤
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(X.values,i) for i in range(X.shape[1])]
vif["features"] = X.columns
vif = vif.sort_values("VIF Factor").reset_index(drop=True)
vif

In [ ]:
# vif ì§€ìˆ˜ê°€ 10ë¯¸ë§Œì¸ ì»¬ëŸ¼ëª…
vif[vif["VIF Factor"]<10.0]["features"]

In [ ]:
feat_vif = vif[vif["VIF Factor"]<10.0]["features"]

fvList = [feat_vif[f] for f in range(len(feat_vif))]

In [ ]:
fvList.insert(0, "OC")

In [ ]:
df_drop_vif = df_hos[fvList]
# df_drop_vif.head()

In [ ]:
Models2 = sm.ols("OC ~ " + "+".join(df_drop_vif.columns[1:]), data=df_drop_vif)
result2 = Models2.fit()
print(result2.summary())

In [ ]:
"""
vif ì§€ìˆ˜ê°€ 10 ì´ìƒì´ë¼ê³  ë¬´ì¡°ê±´ ì œê±°í•˜ë©´ ì•ˆ ë¨!
"""

# ëª¨ë¸í•™ìŠµ

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=626, stratify=y)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

In [ ]:
model_xgb = XGBClassifier()
xgb_model = model_xgb.fit(X_train, y_train)

y_pred = xgb_model.predict(X_test)
y_pred_prob = xgb_model.predict_proba(X_test)[:1]

In [ ]:
X2 = df_drop_vif.iloc[:,1:]
y2 = df_drop_vif.iloc[:,0]

X_train2, X_test2, y_train2, y_test2= train_test_split(X2, y2, test_size=0.2, random_state=626, stratify=y2)
print(X_train2.shape)
print(X_test2.shape)
print(y_train2.shape)
print(y_test2.shape)

model_xgb2 = XGBClassifier()
xgb_model2 = model_xgb2.fit(X_train2, y_train2)

y_pred2 = xgb_model2.predict(X_test2)
y_pred_prob2 = xgb_model2.predict_proba(X_test2)[:1]

print("ì •í™•ë„ : ",accuracy_score(y_test2, y_pred2))
print("f1 socre : ",f1_score(y_test2, y_pred2))

In [ ]:
y_train_red = df_hos.iloc[:,0].to_numpy()

print(y_train_red)
print(y_train_red.shape)

In [ ]:
X_train3, X_test3, y_train3, y_test3= train_test_split(X_train_red, y_train_red, test_size=0.2, random_state=626, stratify=y_train_red)
print(X_train3.shape)
print(X_test3.shape)
print(y_train3.shape)
print(y_test3.shape)

model_xgb_svd = XGBClassifier()
xgb_model_svd = model_xgb_svd.fit(X_train3, y_train3)

y_pred3 = xgb_model_svd.predict(X_test3)

print("ì •í™•ë„ : ",accuracy_score(y_test3, y_pred3))
print("f1 socre : ",f1_score(y_test3, y_pred3))

# ë³‘ì› ì •ë³´ api ë¶ˆëŸ¬ì˜¤ê¸°

In [ ]:
"""
https://apis.data.go.kr/B551182/hospInfoServicev2/getHospBasisList?serviceKey=repbMvjCXw96iTs6wjKM3Htm1H480VcdawruKmikMmOYZF8aVD%2FrJDkfGoyLeTuS5Y1KEOzUrwwPIu87UQ9LbQ%3D%3D&pageNo=1&numOfRows=10&sidoCd=110000&sgguCd=110019&emdongNm=%EC%8B%A0%EB%82%B4%EB%8F%99&yadmNm=%EC%84%9C%EC%9A%B8%EC%9D%98%EB%A3%8C%EC%9B%90&zipCd=2010&clCd=11&dgsbjtCd=01&xPos=127.09854004628151&yPos=37.6132113197367&radius=3000
"""

In [ ]:
serviceKey = "repbMvjCXw96iTs6wjKM3Htm1H480VcdawruKmikMmOYZF8aVD/rJDkfGoyLeTuS5Y1KEOzUrwwPIu87UQ9LbQ=="
serviceKeyDecoded = parse.unquote(serviceKey, 'UTF-8')

url = "http://apis.data.go.kr/B551182/hospInfoServicev2/getHospBasisList"
returnType="xml"
Pindex = 1
Psize = 1000


queryParams = '?' + parse.urlencode({ parse.quote_plus("serviceKey") : serviceKeyDecoded,
                                parse.quote_plus("numOfRows") : '10000',
                                parse.quote_plus("pageNo") : '2'
                                    })

res = requests.get(url + queryParams)

In [ ]:
soup = BeautifulSoup(res.text, 'lxml-xml')
items = soup.find_all("item")

In [ ]:
pprint.pprint(items)

In [ ]:
len(items)

In [ ]:
def parse():
    try:
        ADDR = item.find("addr").get_text()
        CLCD = item.find("clCd").get_text()
        CLCDNM = item.find("clCdNm").get_text()
        EMDONGNM = item.find("emdongNm").get_text()
        ESTBDB = item.find("estbDd").get_text()
        POSTNO = item.find("postNo").get_text()
        SGGUCD = item.find("sgguCd").get_text()
        SGGUCDNM = item.find("sgguCdNm").get_text()
        SIDOCD = item.find("sidoCd").get_text()
        SIDOCDNM = item.find("sidoCdNm").get_text()
        XPOS = item.find("XPos").get_text()
        YPOS = item.find("YPos").get_text()
        YADMNM = item.find("yadmNm").get_text()
        YKIHO = item.find("ykiho").get_text()
        return {
            "ì£¼ì†Œ":ADDR,
            "ì¢…ë³„ì½”ë“œ":CLCD,
            "ì¢…ë³„ì½”ë“œëª…":CLCDNM,
            "ìë©´ë™":EMDONGNM,
            "ê°œì„¤ì¼ì":ESTBDB,
            "Post No.":POSTNO,
            "ì‹œêµ°êµ¬ì½”ë“œ":SGGUCD,
            "ì‹œêµ°êµ¬ì½”ë“œëª…":SGGUCDNM,
            "ì‹œë„ì½”ë“œ":SIDOCD,
            "ì‹œë„ì½”ë“œëª…":SIDOCDNM,
            "xì¢Œí‘œ":XPOS,
            'yì¢Œí‘œ':YPOS,
            "ìš”ì–‘ê¸°ê´€ëª…":YADMNM,
            "ì•”í˜¸í™”ìš”ì–‘ê¸°í˜¸":YKIHO
        }
    except AttributeError as e:
        return {
            "ì£¼ì†Œ":None,
            "ì¢…ë³„ì½”ë“œ":None,
            "ì¢…ë³„ì½”ë“œëª…":None,
            "ìë©´ë™":None,
            "ê°œì„¤ì¼ì":None,
            "Post No.":None,
            "ì‹œêµ°êµ¬ì½”ë“œ":None,
            "ì‹œêµ°êµ¬ì½”ë“œëª…":None,
            "ì‹œë„ì½”ë“œ":None,
            "ì‹œë„ì½”ë“œëª…":None,
            "xì¢Œí‘œ":None,
            'yì¢Œí‘œ':None,
            "ìš”ì–‘ê¸°ê´€ëª…":None,
            "ì•”í˜¸í™”ìš”ì–‘ê¸°í˜¸":None
        }

In [ ]:
row = list()

for item in items : 
    row.append(parse())

In [ ]:
df_api = pd.DataFrame(row)
df_api.head()

In [ ]:
df_api.shape[0] - df_api.count()

In [ ]:
df_api.dropna(axis=0, how="any", inplace=True)
df_api.shape

In [ ]:
df_api.to_csv(dirShare+"/data/ë³‘ì›ì •ë³´api_day2.csv",sep=',', encoding="utf-8")

In [ ]:
df_day1  = pd.read_csv(dirShare+"/data/ë³‘ì›ì •ë³´api.csv")
df_day1.info()
df_day1.head(10)

In [ ]:
df_day2  = pd.read_csv(dirShare+"/data/ë³‘ì›ì •ë³´api_day2.csv")
df_day2.info()
df_day2.head(10)

In [ ]:
df_day1.sort_values(by='ì¢…ë³„ì½”ë“œ', axis=0, ascending=True)

In [ ]:
df_day2.sort_values(by='ì¢…ë³„ì½”ë“œ', axis=0, ascending=True)