In [137]:
import pandas as pd
from sklearn.model_selection import train_test_split
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.linear_model import LinearRegression
import sklearn
import statsmodels
import statsmodels.formula.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
import copy
import requests
import pprint
import xgboost
from xgboost import XGBClassifier
from urllib import parse
from bs4 import BeautifulSoup

# ì§€ìˆ˜ í˜•íƒœì˜ ì‹¤ìˆ˜ë¥¼ ì†Œìˆ˜ì  3ìë¦¬ê¹Œì§€ í‘œê¸°
pd.options.display.float_format = "{:.3f}".format

# ê³µìœ  í´ë” ê²½ë¡œ
dirShare = "G:/.shortcut-targets-by-id/188U2ypi3eUvuInaixMTTbbFctprRo9e4/GYMì‚´ë¼ë¹”"

In [138]:
# ë¼ì´ë¸ŒëŸ¬ë¦¬ ë²„ì „ í™•ì¸
print("pandas í˜„ì¬ ë²„ì „ : " + pd.__version__)
print("scikit-learn í˜„ì¬ ë²„ì „ : " + sklearn.__version__)
print("statsmodels í˜„ì¬ ë²„ì „ : " + statsmodels.__version__)
print("xgboost í˜„ì¬ ë²„ì „ : " + xgboost.__version__)

pandas í˜„ì¬ ë²„ì „ : 2.0.3
scikit-learn í˜„ì¬ ë²„ì „ : 1.3.0
statsmodels í˜„ì¬ ë²„ì „ : 0.14.0
xgboost í˜„ì¬ ë²„ì „ : 1.7.6

# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê³  ì „ì²˜ë¦¬

In [139]:
# train.csv ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë¶ˆëŸ¬ì˜¤ê¸°
df = pd.read_csv(dirShare+"/data/train.csv")

# df ì •ë³´ í™•ì¸
df.info()

# df ìƒìœ„ 10ê°œ ë¶ˆëŸ¬ì˜¤ê¸°
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 58 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   inst_id             301 non-null    int64
 1   OC                  301 non-null    object
 2   sido                301 non-null    object
 3   sgg                 301 non-null    int64
 4   openDate            301 non-null    int64
 5   bedCount            296 non-null    float64
 6   instkind            300 non-null    object
 7   revenue1            293 non-null    float64
 8   salescost1          293 non-null    float64
 9   sga1                293 non-null    float64
 10  salary1             293 non-null    float64
 11  noi1                293 non-null    float64
 12  noe1                293 non-null    float64
 13  interest1           293 non-null    float64
 14  ctax1               293 non-null    float64
 15  profit1             293 non-null    float64
 16  liquidAsset1        293 non-null    float64
 17  quickAsset1         293 non-null    float64
 18  receivableS1        293 non-null    float64
 19  inventoryAsset1     293 non-null    float64
 20  nonCAsset1          293 non-null    float64
 21  tanAsset1           293 non-null    float64
 22  OnonCAsset1         293 non-null    float64
 23  receivableL1        293 non-null    float64
 24  debt1               293 non-null    float64
 25  liquidLiabilities1  293 non-null    float64
 26  shortLoan1          293 non-null    float64
 27  NCLiabilities1      293 non-null    float64
 28  longLoan1           293 non-null    float64
 29  netAsset1           293 non-null    float64
 30  surplus1            293 non-null    float64
 31  revenue2            293 non-null    float64
 32  salescost2          293 non-null    float64
 33  sga2                293 non-null    float64
 34  salary2             293 non-null    float64
 35  noi2                293 non-null    float64
 36  noe2                293 non-null    float64
 37  interest2           293 non-null    float64
 38  ctax2               293 non-null    float64
 39  profit2             293 non-null    float64
 40  liquidAsset2        293 non-null    float64
 41  quickAsset2         293 non-null    float64
 42  receivableS2        293 non-null    float64
 43  inventoryAsset2     293 non-null    float64
 44  nonCAsset2          293 non-null    float64
 45  tanAsset2           293 non-null    float64
 46  OnonCAsset2         293 non-null    float64
 47  receivableL2        293 non-null    float64
 48  debt2               293 non-null    float64
 49  liquidLiabilities2  293 non-null    float64
 50  shortLoan2          293 non-null    float64
 51  NCLiabilities2      293 non-null    float64
 52  longLoan2           293 non-null    float64
 53  netAsset2           293 non-null    float64
 54  surplus2            293 non-null    float64
 55  employee1           291 non-null    float64
 56  employee2           288 non-null    float64
 57  ownerChange         289 non-null    object
dtypes: float64(51), int64(3), object(4)
memory usage: 136.5+ KB

,inst_id,OC,sido,sgg,openDate,bedCount,instkind,revenue1,salescost1,sga1,...,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange
0,1,open,choongnam,73,20071228,175.000,nursing_hospital,4217530010.000,0.000,3961134739.000,...,758993742.000,222876855.000,0.000,536116887.000,390000000.000,2619290493.000,1271224493.000,62.000,64.000,same
1,3,open,gyeongnam,32,19970401,410.000,general_hospital,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,801.000,813.000,same
2,4,open,gyeonggi,89,20161228,468.000,nursing_hospital,1004521989.000,515483669.000,447219722.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,234.000,1.000,same
3,7,open,incheon,141,20000814,353.000,general_hospital,72507342181.000,0.000,70677397660.000,...,37755010512.000,17018596586.000,9219427379.000,20736413926.000,15100000000.000,12954271998.000,7740829037.000,663.000,663.000,same
4,9,open,gyeongnam,32,20050901,196.000,general_hospital,49043538016.000,0.000,47656051197.000,...,51432592890.000,30072585842.000,17593752360.000,21360007048.000,14108027465.000,5561941.000,9025549604.000,206.000,197.000,same
5,11,open,gyeongnam,155,20020501,243.000,general_hospital,33580536703.000,9222996930.000,23727912054.000,...,0.000,21861133888.000,17087136895.000,20000000.000,0.000,0.000,5879003604.000,397.000,390.000,same
6,14,open,gyeonggi,169,19820702,213.000,general_hospital,22552179836.000,4449958166.000,16573328452.000,...,19642026834.000,13292026834.000,12155602473.000,6350000000.000,6230000000.000,18888294786.000,9174282922.000,221.000,246.000,same
7,15,open,busan,66,19871102,250.000,general_hospital,64359169160.000,20758010719.000,40882537264.000,...,35984818131.000,11219645317.000,0.000,24765172814.000,16000000000.000,14217864484.000,9177282701.000,489.000,489.000,same
8,16,open,jeonnam,91,20060922,280.000,nursing_hospital,12748392940.000,328697683.000,11076189315.000,...,0.000,13113246330.000,12664417803.000,41962676.000,0.000,0.000,0.000,243.000,243.000,same
9,17,open,seoul,4,20000124,55.000,general_hospital,41406077905.000,6624671265.000,35120182720.000,...,34906729636.000,19675893406.000,16365396427.000,15230836230.000,3400000000.000,20244525873.000,9554580715.000,370.000,382.000,same

In [140]:
# ë°ì´í„° ê°œìˆ˜ í™•ì¸í•˜ê¸°
print("ë°ì´í„° ê°œìˆ˜ : ", df.shape[0])

# len(df)ë¥¼ ì¨ë„ ë™ì¼

ë°ì´í„° ê°œìˆ˜ :  301

In [141]:
# ìˆ«ì í˜•ì‹ì˜ ì»¬ëŸ¼ì˜ ê¸°ìˆ í†µê³„ê°’ì„ ì¶œë ¥
df.describe()

,inst_id,sgg,openDate,bedCount,revenue1,salescost1,sga1,salary1,noi1,noe1,...,receivableL2,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2
count,301.000,301.000,301.000,296.000,293.000,293.000,293.000,293.000,293.000,293.000,...,293.000,293.000,293.000,293.000,293.000,293.000,293.000,293.000,291.000,288.000
mean,219.056,81.040,20050125.801,145.709,12881747447.993,2014902794.594,10332439064.089,5654114566.904,269615124.573,511587022.570,...,222670.000,8146026488.788,3860583593.406,1510050431.986,4471247363.877,2709978815.423,5273919018.089,978627865.256,142.546,134.326
std,121.235,50.970,88938.154,118.924,20435433475.616,7460270656.568,14938862491.946,8083342530.256,802370115.514,1060379255.452,...,3811496.447,12557995349.365,6797242094.076,2953412250.368,7659580436.397,4564001070.999,10812593821.248,4688797890.975,160.191,151.062
min,1.000,1.000,19780124.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,-20147802018.000,-2781506722.000,0.000,0.000
25%,112.000,37.000,20011017.000,52.750,3252111902.000,0.000,2758200772.000,1626052720.000,8217133.000,80133952.000,...,0.000,1283220350.000,285574118.000,0.000,25578782.000,0.000,1017572570.000,0.000,53.500,53.750
50%,230.000,75.000,20071126.000,136.500,5524218104.000,210410492.000,4684074465.000,2659892367.000,43637641.000,183196506.000,...,0.000,3784552900.000,1454049945.000,85425488.000,1969746813.000,1100000000.000,2894969804.000,0.000,80.000,79.000
75%,321.000,123.000,20111021.000,193.000,12748392940.000,910527771.000,10778762060.000,6363400069.000,205033071.000,420333030.000,...,0.000,8465053127.000,4364713622.000,1567966980.000,4905441439.000,3360000000.000,5370284792.000,101444685.000,181.500,170.000
max,428.000,178.000,20170607.000,656.000,151000000000.000,98503322990.000,103000000000.000,64035593950.000,9144170639.000,8686379500.000,...,65242310.000,85088583901.000,68468775764.000,17593752360.000,51503883627.000,32561472110.000,125000000000.000,68527297093.000,1200.000,1200.000

In [142]:
# ì»¬ëŸ¼ë³„ null ê°’ í™•ì¸í•˜ê¸°
df.shape[0] - df.count()

inst_id                0
OC                     0
sido                   0
sgg                    0
openDate               0
bedCount               5
instkind               1
revenue1               8
salescost1             8
sga1                   8
salary1                8
noi1                   8
noe1                   8
interest1              8
ctax1                  8
profit1                8
liquidAsset1           8
quickAsset1            8
receivableS1           8
inventoryAsset1        8
nonCAsset1             8
tanAsset1              8
OnonCAsset1            8
receivableL1           8
debt1                  8
liquidLiabilities1     8
shortLoan1             8
NCLiabilities1         8
longLoan1              8
netAsset1              8
surplus1               8
revenue2               8
salescost2             8
sga2                   8
salary2                8
noi2                   8
noe2                   8
interest2              8
ctax2                  8
profit2                8
liquidAsset2           8
quickAsset2            8
receivableS2           8
inventoryAsset2        8
nonCAsset2             8
tanAsset2              8
OnonCAsset2            8
receivableL2           8
debt2                  8
liquidLiabilities2     8
shortLoan2             8
NCLiabilities2         8
longLoan2              8
netAsset2              8
surplus2               8
employee1             10
employee2             13
ownerChange           12
dtype: int64

In [143]:
# ì•„ì§ ìš´ì˜ ì¤‘ì¸ ë³‘ì›ì„ 1ë¡œ ë³€í™˜
df.replace({"open":1},inplace=True)
# íì—…í•œ ë³‘ì›ì„ 0ìœ¼ë¡œ ë³€í™˜
df.replace({" close":0}, inplace=True)
# unique() ë©”ì„œë“œë¥¼ í†µí•´ "OC" ì»¬ëŸ¼ì˜ ë°ì´í„°ë¥¼ í™•ì¸
df["OC"].unique()

array([1, 0], dtype=int64)

In [144]:
# ì˜¤ë„ˆ ë³€í™˜ ì—¬ë¶€
df["ownerChange"].replace({"same":0},inplace=True)
df["ownerChange"].replace({"change":1},inplace=True)
df["ownerChange"].unique()

array([ 0.,  1., nan])

In [145]:
# ë³‘ì›ì˜ ì¢…ë¥˜ë¥¼, get_dummiesë¥¼ ì´ìš©í•´ one-hot-encoding
df = pd.get_dummies(df, columns=["instkind"], prefix=["instkind"], prefix_sep="_", dtype=int)

In [146]:
# ë³‘ì› ì •ë³´ì— NULLì´ ì¡´ì¬í•˜ëŠ” ë¶€ë¶„ì„ ë‹¤ë¥¸ ê°’ìœ¼ë¡œ ëŒ€ì²´í•  ìˆ˜ ì—†ìŒ
# ë³‘ì›ì˜ ë§¤ì¶œ, ë¹„ìš©, ì´ìµ, ì§ì› ìˆ˜ì™€ ê°™ì€ ê°’ì„ ë‹¤ë¥¸ ë³‘ì›ì˜ í‰ê· ì´ë‚˜ ì¤‘ì•™ê°’ìœ¼ë¡œ ëŒ€ì²´í•˜ë©´ ì•ˆ ë¨
# íšŒê·€ëŒ€ì²´ë²•ì„ í•˜ê¸°ì—ëŠ” ì¢…ì† ë³€ìˆ˜ë¡œ ë‘˜ ë§Œí•œ ì†ì„±ê°’ì´ ì¡´ì¬ X
# nullì´ í¬í•¨ëœ ë°ì´í„°ê°€ ì „ì²´ ë°ì´í„°ì˜ 10% ë¯¸ë§Œì´ë¯€ë¡œ 

df.dropna(axis=0, how="any", inplace=True)
df.shape[0]

277

In [147]:
# ë°ì´í„° ê°’ì´ 0ìœ¼ë¡œë§Œ ë¼ ìˆëŠ” ì»¬ëŸ¼ ì‚­ì œ
df.drop(columns=["receivableL1", "receivableL2"], axis=1, inplace=True)
# ì‹œêµ°êµ¬ ì½”ë“œ ì‚­ì œ
df.drop(columns="sgg", axis=1, inplace=True)
# ë³‘ì› idëŠ” ë¶„ì„ì— ìˆì–´ì„œ ì˜ë¯¸ê°€ ì—†ëŠ” ë°ì´í„°ì´ë¯€ë¡œ ì‚­ì œ
df.drop(columns="inst_id",inplace=True)
# ë°ì´í„° í”„ë ˆì„ì—ì„œ drop ëëŠ”ì§€ í™•ì¸
df.columns

Index(['OC', 'sido', 'openDate', 'bedCount', 'revenue1', 'salescost1', 'sga1',
       'salary1', 'noi1', 'noe1', 'interest1', 'ctax1', 'profit1',
       'liquidAsset1', 'quickAsset1', 'receivableS1', 'inventoryAsset1',
       'nonCAsset1', 'tanAsset1', 'OnonCAsset1', 'debt1', 'liquidLiabilities1',
       'shortLoan1', 'NCLiabilities1', 'longLoan1', 'netAsset1', 'surplus1',
       'revenue2', 'salescost2', 'sga2', 'salary2', 'noi2', 'noe2',
       'interest2', 'ctax2', 'profit2', 'liquidAsset2', 'quickAsset2',
       'receivableS2', 'inventoryAsset2', 'nonCAsset2', 'tanAsset2',
       'OnonCAsset2', 'debt2', 'liquidLiabilities2', 'shortLoan2',
       'NCLiabilities2', 'longLoan2', 'netAsset2', 'surplus2', 'employee1',
       'employee2', 'ownerChange', 'instkind_clinic', 'instkind_dental_clinic',
       'instkind_general_hospital', 'instkind_hospital',
       'instkind_nursing_hospital', 'instkind_traditional_clinic',
       'instkind_traditional_hospital'],
      dtype='object')

In [148]:
df_drop_obj = copy.deepcopy(df)  # ê¹Šì€ ë³µì‚¬
df_dr_obj_cols = df_drop_obj.columns.to_list()
# df_dr_obj_cols

ğŸ«¡ì‹œë„ì½”ë“œì™€ ì‹œêµ°êµ¬ ì½”ë“œë¥¼ í•™ìŠµì‹œí‚¬ ìˆ˜ë„ ìˆìŠµë‹ˆë‹¤.  
One-Hot Encodingì„ ì´ìš©í•˜ë©´ ë˜ì£ .  
í•˜ì§€ë§Œ ì¬ë¬´ ì •ë³´ì™€ ê´€ë ¨ëœ í˜„ ë°ì´í„°ì—ì„œëŠ” ì˜ë¯¸ê°€ ì—†ì„ ê²ƒ ê°™ìŠµë‹ˆë‹¤.  
ê·¸ ì´ìœ ëŠ” ì§€ì—­ì˜ ì´ë¦„ ìì²´ê°€, ë³€ìˆ˜ë¡œì„œ í° ì˜í–¥ë ¥ì„ ê°€ì§€ì§€ëŠ” ì•Šì„ ê²ƒ ê°™ê±°ë“ ìš”!!  
ì§€ì—­ì´ ë³€ìˆ˜ë¡œ ì˜í–¥ì„ ê°€ì§€ë ¤ë©´, ê·¸ ì§€ì—­ì˜ ë©´ì , ì¸êµ¬ë°€ë„, í‰ê·  ì†Œë“ğŸ’¸ ë“±ìœ¼ë¡œ ëŒ€ì²´í•´ì•¼ í•  ê²ƒ ê°™ìŠµë‹ˆë‹¤.  
ì¼ë‹¨ ì§€ê¸ˆì€ ì¬ë¬´ ì •ë³´ì— ëŒ€í•œ ê²ƒìœ¼ë¡œë§Œ ì˜ˆì¸¡ì„ í•´ë³´ì£ !

In [149]:
df_drop_obj2 = copy.deepcopy(df_drop_obj)

# ì»¬ëŸ¼ ë°ì´í„° íƒ€ì…ì´ 'object'ì¸ ì»¬ëŸ¼ ì‚­ì œ
for i in range(len(df_dr_obj_cols)) : 
    if df_drop_obj.iloc[:,i].dtype == "object" : 
        df_drop_obj2.drop(columns=df_dr_obj_cols[i], inplace=True)

df_drop_obj = df_drop_obj2
df_drop_obj.info()

<class 'pandas.core.frame.DataFrame'>
Index: 277 entries, 0 to 296
Data columns (total 59 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   OC                             277 non-null    int64
 1   openDate                       277 non-null    int64
 2   bedCount                       277 non-null    float64
 3   revenue1                       277 non-null    float64
 4   salescost1                     277 non-null    float64
 5   sga1                           277 non-null    float64
 6   salary1                        277 non-null    float64
 7   noi1                           277 non-null    float64
 8   noe1                           277 non-null    float64
 9   interest1                      277 non-null    float64
 10  ctax1                          277 non-null    float64
 11  profit1                        277 non-null    float64
 12  liquidAsset1                   277 non-null    float64
 13  quickAsset1                    277 non-null    float64
 14  receivableS1                   277 non-null    float64
 15  inventoryAsset1                277 non-null    float64
 16  nonCAsset1                     277 non-null    float64
 17  tanAsset1                      277 non-null    float64
 18  OnonCAsset1                    277 non-null    float64
 19  debt1                          277 non-null    float64
 20  liquidLiabilities1             277 non-null    float64
 21  shortLoan1                     277 non-null    float64
 22  NCLiabilities1                 277 non-null    float64
 23  longLoan1                      277 non-null    float64
 24  netAsset1                      277 non-null    float64
 25  surplus1                       277 non-null    float64
 26  revenue2                       277 non-null    float64
 27  salescost2                     277 non-null    float64
 28  sga2                           277 non-null    float64
 29  salary2                        277 non-null    float64
 30  noi2                           277 non-null    float64
 31  noe2                           277 non-null    float64
 32  interest2                      277 non-null    float64
 33  ctax2                          277 non-null    float64
 34  profit2                        277 non-null    float64
 35  liquidAsset2                   277 non-null    float64
 36  quickAsset2                    277 non-null    float64
 37  receivableS2                   277 non-null    float64
 38  inventoryAsset2                277 non-null    float64
 39  nonCAsset2                     277 non-null    float64
 40  tanAsset2                      277 non-null    float64
 41  OnonCAsset2                    277 non-null    float64
 42  debt2                          277 non-null    float64
 43  liquidLiabilities2             277 non-null    float64
 44  shortLoan2                     277 non-null    float64
 45  NCLiabilities2                 277 non-null    float64
 46  longLoan2                      277 non-null    float64
 47  netAsset2                      277 non-null    float64
 48  surplus2                       277 non-null    float64
 49  employee1                      277 non-null    float64
 50  employee2                      277 non-null    float64
 51  ownerChange                    277 non-null    float64
 52  instkind_clinic                277 non-null    int32
 53  instkind_dental_clinic         277 non-null    int32
 54  instkind_general_hospital      277 non-null    int32
 55  instkind_hospital              277 non-null    int32
 56  instkind_nursing_hospital      277 non-null    int32
 57  instkind_traditional_clinic    277 non-null    int32
 58  instkind_traditional_hospital  277 non-null    int32
dtypes: float64(50), int32(7), int64(2)
memory usage: 122.3 KB

In [150]:
# ê°œì—…í•œ ë‚ ì§œëŠ” ë³€ìˆ˜ë¡œì„œ ì˜ë¯¸ê°€ ì—†ìŒ. ëª¨ë¸ì€ ë‚ ì§œë¥¼ ì¸ì‹í•˜ì§€ ëª»í•˜ê¸° ë•Œë¬¸ì—
# ê°œì—… ë‚ ì§œì™€ íì—… ë‚ ì§œì˜ ì°¨ì´ë¡œ ë³€ìˆ˜ë¥¼ ì¡°ì •í•  í•„ìš”ê°€ ìˆìŒ

from datetime import datetime
date_of_2018 = "2018-01-01"

# ë¬¸ì íƒ€ì…ì„ date íƒ€ì…ìœ¼ë¡œ
date_of_2018 = datetime.strptime(date_of_2018, "%Y-%m-%d")

df_drop_obj["openDate"] = df_drop_obj["openDate"].apply(lambda x : datetime.strptime(str(x), "%Y%m%d"))

# ë‚ ì§œ ì°¨ì´ë¥¼ ìƒˆë¡œìš´ ì»¬ëŸ¼ìœ¼ë¡œ ìƒì„±, ë°ì´í„° í”„ë ˆì„ ì¤‘ê°„ì— ì‚½ì…
df_drop_obj.insert(1, "dif_date", date_of_2018-df_drop_obj["openDate"])
df_drop_obj["dif_date"] = df_drop_obj["dif_date"].dt.days

In [151]:
# ê°œì—… ë‚ ì§œë¥¼ dropí•œ ìƒˆë¡œìš´ ë°ì´í„°í”„ë ˆì„ ìƒì„±
df_hos = df_drop_obj.drop(columns="openDate")

In [152]:
df_hos.head(10)

,OC,dif_date,bedCount,revenue1,salescost1,sga1,salary1,noi1,noe1,interest1,...,employee1,employee2,ownerChange,instkind_clinic,instkind_dental_clinic,instkind_general_hospital,instkind_hospital,instkind_nursing_hospital,instkind_traditional_clinic,instkind_traditional_hospital
0,1,3657,175.000,4217530010.000,0.000,3961134739.000,2033835290.000,15652441.000,15236236.000,13236236.000,...,62.000,64.000,0.000,0,0,0,0,1,0,0
2,1,369,468.000,1004521989.000,515483669.000,447219722.000,296402310.000,76156.000,30000.000,0.000,...,234.000,1.000,0.000,0,0,0,0,1,0,0
3,1,6349,353.000,72507342181.000,0.000,70677397660.000,31786048663.000,506223059.000,1259567512.000,1196881219.000,...,663.000,663.000,0.000,0,0,1,0,0,0,0
4,1,4505,196.000,49043538016.000,0.000,47656051197.000,24460782270.000,112352259.000,1419089382.000,1307248652.000,...,206.000,197.000,0.000,0,0,1,0,0,0,0
5,1,5724,243.000,33580536703.000,9222996930.000,23727912054.000,16655333342.000,65414325.000,741269419.000,336462245.000,...,397.000,390.000,0.000,0,0,1,0,0,0,0
6,1,12967,213.000,22552179836.000,4449958166.000,16573328452.000,11073956461.000,305646045.000,970008848.000,940942802.000,...,221.000,246.000,0.000,0,0,1,0,0,0,0
7,1,11018,250.000,64359169160.000,20758010719.000,40882537264.000,26822603567.000,1426186507.000,3166922895.000,465983760.000,...,489.000,489.000,0.000,0,0,1,0,0,0,0
8,1,4119,280.000,12748392940.000,328697683.000,11076189315.000,7155936637.000,261621144.000,579079483.000,167471911.000,...,243.000,243.000,0.000,0,0,0,0,1,0,0
9,1,6552,55.000,41406077905.000,6624671265.000,35120182720.000,19796589281.000,708476429.000,1000118143.000,448540747.000,...,370.000,382.000,0.000,0,0,1,0,0,0,0
10,1,3604,250.000,49669173562.000,8844036521.000,38845605937.000,22985012106.000,423613410.000,2034357679.000,1462729706.000,...,53.000,53.000,0.000,0,0,1,0,0,0,0

ë°ì´í„°ì˜ ì–‘ì€ ë…ë¦½ë³€ìˆ˜ ìˆ˜ì˜ 3ë°° ì´ìƒì€ ë¼ì•¼ í•¨.
ë…ë¦½ë³€ìˆ˜ë¡œ ì‘ìš©í•˜ëŠ” ì»¬ëŸ¼ ìˆ˜ê°€ 57ê°œì´ë¯€ë¡œ ë‹¤ì¤‘ ê³µì„ ì„±ê³¼ ê³¼ì í•©, ì°¨ì›ì˜ ì €ì£¼ì˜ ì˜í–¥ì´ ì˜ˆìƒë˜ë¯€ë¡œ
ì°¨ì› ì¶•ì†Œ í•„ìš”

## statsmodelsë¥¼ ì‚¬ìš©í•œ vif ê³„ì‚°

In [ ]:
# ë³‘ì› ê°œ/íì—… ì •ë³´ì˜ ë‹¤ì¤‘ íšŒê·€ ë¶„ì„ê³¼ ê²€ì • í†µê³„ëŸ‰ í™•ì¸
Models1 = sm.ols("OC ~ " + "+".join(df_drop_obj.columns[1:]), data=df_drop_obj)
result1 = Models1.fit()
print(result1.summary())

In [ ]:
# ë…ë¦½ë³€ìˆ˜ Xì™€ ì¢…ì†ë³€ìˆ˜ yë¡œ ë¶„ë¦¬
X = df_drop_obj.iloc[:,1:]
y = df_drop_obj.iloc[:,0]

In [ ]:
# ë…ë¦½ë³€ìˆ˜ë“¤ê°„ ë‹¤ì¤‘ ê³µì„ ì„± í™•ì¸, vif ì§€ìˆ˜ 10 ì´ìƒì´ë©´ ë³€ìˆ˜ ì œê±° ê³ ë ¤
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(X.values,i) for i in range(X.shape[1])]
vif["features"] = X.columns
vif = vif.sort_values("VIF Factor").reset_index(drop=True)
vif

In [ ]:
# vif ì§€ìˆ˜ê°€ 10ë¯¸ë§Œì¸ ì»¬ëŸ¼ëª…
vif[vif["VIF Factor"]<10.0]["features"]

In [ ]:
df_drop_vif = df_drop_obj[["OC","bedCount", "openDate", "receivableS2", "receivableS1"]]

In [ ]:
Models2 = sm.ols("OC ~ " + "+".join(df_drop_vif.columns[1:]), data=df_drop_vif)
result2 = Models2.fit()
print(result2.summary())

In [ ]:
"""
vif ì§€ìˆ˜ê°€ 10 ì´ìƒì´ë¼ê³  ë¬´ì¡°ê±´ ì œê±°í•˜ë©´ ì•ˆ ë¨!
"""

# ëª¨ë¸í•™ìŠµ

In [ ]:
df["OC"].value_counts()

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=626, stratify=y)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

In [ ]:
model_xgb = XGBClassifier()
xgb_model = model_xgb.fit(X_train, y_train)

y_pred = xgb_model.predict(X_test)
y_pred_prob = xgb_model.predict_proba(X_test)[:1]

In [ ]:
print(y_pred)

In [ ]:
print(y_pred_prob)

In [ ]:
accuracy_score(y_test, y_pred)

In [ ]:
f1__score(y_test, y_pred)

In [ ]:
X2 = df_drop_vif.iloc[:,1:]
y2 = df_drop_vif.iloc[:,0]

X_train2, X_test2, y_train2, y_test2= train_test_split(X2, y2, test_size=0.2, random_state=626, stratify=y2)
print(X_train2.shape)
print(X_test2.shape)
print(y_train2.shape)
print(y_test2.shape)

model_xgb2 = XGBClassifier()
xgb_model2 = model_xgb2.fit(X_train2, y_train2)

y_pred2 = xgb_model2.predict(X_test2)
y_pred_prob2 = xgb_model2.predict_proba(X_test2)[:1]

print("ì •í™•ë„ : ",accuracy_score(y_test2, y_pred2))
print("f1 socre : ",f1_score(y_test2, y_pred2))

# ë³‘ì› ì •ë³´ api ë¶ˆëŸ¬ì˜¤ê¸°

In [ ]:
"""
https://apis.data.go.kr/B551182/hospInfoServicev2/getHospBasisList?serviceKey=repbMvjCXw96iTs6wjKM3Htm1H480VcdawruKmikMmOYZF8aVD%2FrJDkfGoyLeTuS5Y1KEOzUrwwPIu87UQ9LbQ%3D%3D&pageNo=1&numOfRows=10&sidoCd=110000&sgguCd=110019&emdongNm=%EC%8B%A0%EB%82%B4%EB%8F%99&yadmNm=%EC%84%9C%EC%9A%B8%EC%9D%98%EB%A3%8C%EC%9B%90&zipCd=2010&clCd=11&dgsbjtCd=01&xPos=127.09854004628151&yPos=37.6132113197367&radius=3000
"""

In [ ]:
serviceKey = "repbMvjCXw96iTs6wjKM3Htm1H480VcdawruKmikMmOYZF8aVD/rJDkfGoyLeTuS5Y1KEOzUrwwPIu87UQ9LbQ=="
serviceKeyDecoded = parse.unquote(serviceKey, 'UTF-8')

url = "http://apis.data.go.kr/B551182/hospInfoServicev2/getHospBasisList"
returnType="xml"
Pindex = 1
Psize = 1000


queryParams = '?' + parse.urlencode({ parse.quote_plus("serviceKey") : serviceKeyDecoded,
                                parse.quote_plus("numOfRows") : '10000',
                                parse.quote_plus("pageNo") : '2'
                                    })

res = requests.get(url + queryParams)

In [ ]:
soup = BeautifulSoup(res.text, 'lxml-xml')
items = soup.find_all("item")

In [ ]:
pprint.pprint(items)

In [ ]:
len(items)

In [ ]:
def parse():
    try:
        ADDR = item.find("addr").get_text()
        CLCD = item.find("clCd").get_text()
        CLCDNM = item.find("clCdNm").get_text()
        EMDONGNM = item.find("emdongNm").get_text()
        ESTBDB = item.find("estbDd").get_text()
        POSTNO = item.find("postNo").get_text()
        SGGUCD = item.find("sgguCd").get_text()
        SGGUCDNM = item.find("sgguCdNm").get_text()
        SIDOCD = item.find("sidoCd").get_text()
        SIDOCDNM = item.find("sidoCdNm").get_text()
        XPOS = item.find("XPos").get_text()
        YPOS = item.find("YPos").get_text()
        YADMNM = item.find("yadmNm").get_text()
        YKIHO = item.find("ykiho").get_text()
        return {
            "ì£¼ì†Œ":ADDR,
            "ì¢…ë³„ì½”ë“œ":CLCD,
            "ì¢…ë³„ì½”ë“œëª…":CLCDNM,
            "ìë©´ë™":EMDONGNM,
            "ê°œì„¤ì¼ì":ESTBDB,
            "Post No.":POSTNO,
            "ì‹œêµ°êµ¬ì½”ë“œ":SGGUCD,
            "ì‹œêµ°êµ¬ì½”ë“œëª…":SGGUCDNM,
            "ì‹œë„ì½”ë“œ":SIDOCD,
            "ì‹œë„ì½”ë“œëª…":SIDOCDNM,
            "xì¢Œí‘œ":XPOS,
            'yì¢Œí‘œ':YPOS,
            "ìš”ì–‘ê¸°ê´€ëª…":YADMNM,
            "ì•”í˜¸í™”ìš”ì–‘ê¸°í˜¸":YKIHO
        }
    except AttributeError as e:
        return {
            "ì£¼ì†Œ":None,
            "ì¢…ë³„ì½”ë“œ":None,
            "ì¢…ë³„ì½”ë“œëª…":None,
            "ìë©´ë™":None,
            "ê°œì„¤ì¼ì":None,
            "Post No.":None,
            "ì‹œêµ°êµ¬ì½”ë“œ":None,
            "ì‹œêµ°êµ¬ì½”ë“œëª…":None,
            "ì‹œë„ì½”ë“œ":None,
            "ì‹œë„ì½”ë“œëª…":None,
            "xì¢Œí‘œ":None,
            'yì¢Œí‘œ':None,
            "ìš”ì–‘ê¸°ê´€ëª…":None,
            "ì•”í˜¸í™”ìš”ì–‘ê¸°í˜¸":None
        }

In [ ]:
row = list()

for item in items : 
    row.append(parse())

In [ ]:
df_api = pd.DataFrame(row)
df_api.head()

In [ ]:
df_api.shape[0] - df_api.count()

In [ ]:
df_api.dropna(axis=0, how="any", inplace=True)
df_api.shape

In [ ]:
df_api.to_csv(dirShare+"/data/ë³‘ì›ì •ë³´api_day2.csv",sep=',', encoding="utf-8")

In [ ]:
df_day1  = pd.read_csv(dirShare+"/data/ë³‘ì›ì •ë³´api.csv")
df_day1.info()
df_day1.head(10)

In [ ]:
df_day2  = pd.read_csv(dirShare+"/data/ë³‘ì›ì •ë³´api_day2.csv")
df_day2.info()
df_day2.head(10)

In [ ]:
df_day1.sort_values(by='ì¢…ë³„ì½”ë“œ', axis=0, ascending=True)

In [ ]:
df_day2.sort_values(by='ì¢…ë³„ì½”ë“œ', axis=0, ascending=True)